@model IEnumerable<TCS2010PPTG4.Models.Contribution>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>

        body {
            background: linear-gradient(0.25turn, #ebf8e1, #4fd18e, #ebf8e1);
        }

        table {
            border-collapse: collapse;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>
    
    <h1>Contributions</h1>
    <a class="btn btn-primary" asp-action="DownloadApprovedFile" asp-route-topicId="@ViewBag.TopicId">Download</a>
    <p></p>
    <div class="container">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contributor)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Topic)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contributor.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Topic.Id)
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <a class="btn btn-danger" asp-area="Coordinator" asp-controller="Topics" asp-action="Index">Back to List</a>
    </div>
</body>
</html>

